#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>

/*
 * Auto mouse layer (AML):
 * Moving the trackball temporarily enables layer 1 (mouse pad).
 * After 1000ms of no pointer events, layer 1 is disabled.
 *
 * Hold-to-scroll:
 * Position 47 on layer 1 (directly below &mkp LCLK) holds layer 4, where ball
 * movement is mapped to scrolling instead of cursor movement.
 *
 * Keymap body is from BrokenGyoza master (custom layout + mouse/num/symbol layers).
 *
 * Tuning:
 * - require-prior-idle-ms: ignore ball motion this soon after a keypress
 * - timeout (last arg to zip_temp_layer): AML hold after motion stops
 * - excluded-positions: mouse move/click/scroll keys that must not cancel AML
 */
&zip_temp_layer {
    require-prior-idle-ms = <350>;
    /* layer 1: MOVE_UP, SCRL_UP, MOVE_*, LCLK/MB3/MB2, scroll hold, SCRL_DOWN */
    excluded-positions = <15 20 26 27 28 33 34 35 47 48>;
};

&pointing_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layer 1 1000
    >;

    /*
     * Overrides run before the base processors. No XY invert here so hold-scroll
     * direction is the reverse of the previous (X|Y inverted) setup.
     * process-next keeps zip_temp_layer alive while scrolling.
     */
    scroller {
        layers = <4>;
        input-processors = <&zip_xy_to_scroll_mapper>;
        process-next;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none    &none     &none      &none                                     &none      &none  &none  &none          &none            &none
&none  &kp Q      &kp L    &kp U     &kp COMMA  &kp DOT                                   &kp F      &kp W  &kp R  &kp Y          &kp P            &none
&none  &kp E      &kp I    &kp A     &kp O      &kp MINUS      &none           &none      &kp K      &kp T  &kp N  &kp S          &kp H            &none
&none  &kp Z      &kp X    &kp C     &kp V      &kp SEMICOLON  &kp LEFT_ARROW  &kp RIGHT  &kp G      &kp D  &kp M  &kp J          &kp B            &none
&none  &kp LCTRL  &kp TAB  &kp LALT  &kp BSPC   &kp SPACE      &mo 2           &mo 3      &kp ENTER  &none  &none  &kp RIGHT_ALT  &kp RIGHT_SHIFT  &none
            >;
        };

        /* Mouse layer: also auto-enabled by trackball via zip_temp_layer */
        layer_1 {
            bindings = <
&trans  &trans        &trans          &trans          &trans           &trans                  &trans  &trans     &trans          &trans    &trans        &trans
&trans  &bt BT_SEL 0  &none           &mmv MOVE_UP    &none            &none                   &none   &none      &msc SCRL_UP    &none     &bt BT_SEL 1  &trans
&trans  &none         &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none   &trans  &trans  &none   &mkp LCLK  &mkp MB3        &mkp MB2  &none         &trans
&trans  &none         &none           &none           &none            &none   &to 0   &to 0   &none   &mo 4      &msc SCRL_DOWN  &none     &none         &trans
&trans  &trans        &trans          &trans          &trans           &trans  &trans  &trans  &trans  &trans     &trans          &trans    &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans                  &trans     &trans        &trans        &trans        &trans        &trans
&trans  &none   &none           &kp UP_ARROW    &none            &none                   &none      &kp N7        &kp N8        &kp N9        &none         &trans
&trans  &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none   &trans  &trans  &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none         &trans
&trans  &none   &none           &none           &none            &none   &trans  &trans  &kp SLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &trans
&trans  &trans  &trans          &trans          &trans           &trans  &trans  &to 1   &trans     &trans        &trans        &trans        &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans                &trans                &trans                 &trans        &trans      &trans
&trans  &none   &none   &none   &none   &none                   &kp EXCLAMATION       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp ASTERISK  &kp ESCAPE  &trans
&trans  &none   &none   &none   &none   &none   &trans  &trans  &kp SLASH             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL     &kp GRAVE   &trans
&trans  &none   &none   &none   &none   &none   &trans  &trans  &kp NON_US_BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AT_SIGN   &kp HASH    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &to 1   &trans  &trans                &trans                &trans                 &trans        &trans      &trans
            >;
        };

        /* Scroll layer: held from layer 1; keys pass through while the ball scrolls */
        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
